@model Vidly.Models.Customer

@{ ViewBag.Title = Model.Name;
                Layout = "~/Views/Shared/_Layout.cshtml"; }


<h1>@Model.Name</h1>
<ul>
    <li>Membership Type: @Model.MembershipType.MembershipName</li>
    @if (Model.DOB.HasValue)
    {
        <li>Birthdate: @Model.DOB.Value.ToShortDateString()</li>
    }
</ul>
