@model Vidly.Models.Customer
@{
    ViewBag.Title = "NewRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a new Customer</h2>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label labelFor="DOB">Date of Birth</label>
        @Html.TextBoxFor(m => m.DOB, new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsMember) Subscribed?
        </label>
    </div>
}

